<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    Web Site Administration Tool to configure settings for your application. Use
    the Web site->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <appSettings/>

	<connectionStrings>
		<clear/>
		<add name="LocalSqlServer" connectionString="dummy"/>
		<!-- Mono complains if LocalSqlServer isn't specified -->
		<add name="LocalSqlServerAIO"
		     connectionString="Data Source=localhost\SQLEXPRESS;Integrated Security=true;persist security info=False;initial catalog=app_test;"
		     providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<clear/>
				<add value="index.aspx" />
				<add value="index.html" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
